@model ContactViewModel

@{
    ViewData["Title"] = "Kişi Listesi";
}


<div>
    <h5>@ViewData["Title"]</h5>
    <br />
    <p class="float-left">@Html.ActionLink("Kişi Oluştur", "KisiOlusturView", "Home", null, new { @class = "btn btn-primary btn-large" })</p>
    <br />
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Adı</th>
                <th scope="col">Soyadı</th>
                <th scope="col">Firma</th>
                <th scope="col">İletisim Detayları</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null && Model.Kisiler != null && Model.Kisiler.Count > 0)
                {
                    foreach (var kisi in Model.Kisiler)
                    {
                        <tr>
                            <td>@kisi.Ad</td>
                            <td>@kisi.Soyad</td>
                            <td>@kisi.Firma</td>
                            <td>
                                <a href='@Url.Action("KisiIletisimBilgileri", "Home",new { KisiId=kisi.Id })'>
                                    <img src='@Url.Content("~/images/detail.png")' />
                                </a>
                            </td>
                            <td>
                                <a href='@Url.Action("KisiKaldir", "Home",new { KisiId=kisi.Id })' onclick="return confirm('Kaydı silmek istiyorsun, emin misin?')">
                                    <img src='@Url.Content("~/images/delete.png")' />
                                </a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>